<?xml version="1.0" encoding="utf-8"?>
<settings>
   <synctools>
       <!--Uncomment one that you use-->   
       <!-- <add name="primary" value="SynchronizeIt" path="C:\Program Files (x86)\Compare It!\wndsync.exe" />  -->
	    <add name="primary" value="Winmerge" path="C:\Program Files\WinMerge\WinMergeU.exe" /> 
	   <!-- <add name="primary" value="BeyondCompare4" path="C:\Program Files\Beyond Compare 4\BComp.exe" /> -->
   </synctools>
</settings>