<?xml version="1.0" encoding="utf-8"?>
<settings>
   <synctools>      
       <!-- <add name="primary" value="SynchronizeIt" path="C:\Program Files (x86)\Compare It!\wndsync.exe" />  -->
	    <add name="primary" value="Winmerge" path="C:\Program Files (x86)\WinMerge\WinMergeU.exe" />
   </synctools>
</settings>